<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Car</h1>
    <form method="POST">

        <label>Company</label>
        <input type="text" name="company"> <br>

        <label>Model</label>
        <input  type="text" name="model">

        <label>info</label>
        <input type="text" name="info">

        <label>logo</label>
        <input type="text" name="logo">

        <label>image</label>
        <input type="text" name="image">
        
        <button type="submit">Submit</button>
    </form>
</body>
</html>